/* You can add global styles to this file, and also import other style files */
html {
   margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
}

.main-content {
  background-color: #eeeeee;
  padding-top: 0px;
  padding-bottom: 12px;
  margin: 0pt;
}

.container-fluid {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.container {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.row {
    margin: 0px;
    padding: 0px;
}

.panel {
    margin: 0px;
}

.panel-heading {
    padding: 2px;
}
/*     */

.current-spot {
  margin-top: 50px;
  background-color: #fbbf69;
}

.current-spot h3 {
  margin-top: 12px;
  margin-bottom: 14px;
}


/* input element */
input[type=range] {
  margin: 8px 0px;
  width: 100%;
  -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  /*border-radius: 1.3px;*/
  border: 1px solid #010101;
  margin-bottom:5pt;
}

input[type=range]::-webkit-slider-thumb {
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -16px;
}

.panel {
    margin-top:5pt;
    margin-bottom: 0pt;
}

/* The animation code */
@keyframes RECAnimation {
    50%  {background-color: red;}
    99%  {background-color: red;}
}

/* Programming State REC */
.REC {
   /* animation-name: RECAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
       */
   background-color: green;
}

/* Programming State DEL */
.DEL {
    background-color: red;
    /*animation-name: RECAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;*/
}

#timeline {
    margin-top: 10px;
}