.row {
    margin: 0em;
    padding: 0px;
}

.card {
    margin-top:5pt;
    margin-bottom: 0pt;
}

.card-header {
    padding: 2px;
}

/* The animation code */
@keyframes RECAnimation {
    50%  {background-color: red;}
    99%  {background-color: red;}
}

/* Programming State REC */
.recording {
   /* animation-name: RECAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
       */
   background-color: orange;
}

/* Programming State DEL */
.delete {
    background-color: red;
    /*animation-name: RECAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;*/
}

/* input element */
input[type=range] {
    margin: 8px 0px;
    width: 100%;
    -webkit-appearance: none;
  }

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    /*border-radius: 1.3px;*/
    border: 1px solid #010101;
    margin-bottom:5pt;
  }
  
input[type=range]::-webkit-slider-thumb {
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -16px;
  }