<div yw-active-menu="DirectControl" yw-active-title="Direct Control of Axis Movement" class="container-fluid">
	<!--div class="container">
	  <div class="btn-group" ng-repeat="axis in axes">
		<button type="button" class="btn btn-primary" ng-click="show(axis)">{{axis.name}}</button>
	  </div>
	</div-->
	
	<!-- Nav pill menu -->
	<!--ul class="nav nav-pills" ng-repeat="axis in axes">
	  <li><a data-toggle="pill" href="#menu{{axis.index}}" ng-click="show(axis)">{{axis.name}}</a></li>
	</ul--!>

	<!-- Axis controls -->
	<div class="container" ng-repeat="axis in axes">
	<!--h3>{{axis.name}} Axis</h3-->
	<!-- Acceleration/Deceleration -->
	<!--div class="row">
		
		<div class="col-xs-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						Accelleration {{axis.accel}}
					</h4>
				</div>
				<div class="panel-body">
					<input type="range" name="acceleration" value="500" min="1" max="1000" ng-model="axis.accel" ng-mouseup="setAcceleration(axis)" ng-touchend="setAcceleration(axis)"/>
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						Deceleration {{axis.decel}}
					</h4>
				</div>
				<div class="panel-body">
					<input type="range" name="deceleration" min="1" max="1000" ng-model="axis.decel" ng-mouseup="setDeceleration(axis)" ng-touchend="setDeceleration(axis)"/>
				</div>
			</div>
		</div>
	</div-->
	<!-- Speed / Steps -->
	<div class="row">
		
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						{{axis.name}} / Speed [steps/s] {{axis.speed}}
					</h4>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-1">
							<button type="button" class="btn btn-danger" ng-click="stop(axis)">
								<span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
							</button>
						</div>
						<div class="col-xs-2">
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-default" ng-click="backward(axis)">
									<span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
								</button>
								<button type="button" class="btn btn-default" ng-click="nudgeleft(axis)">
									<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
								</button>
							</div>
						</div>
						<div class="col-xs-7">
							<input type="range" name="speed" min="-1200" max="1200" ng-model="axis.speed" ng-mouseup="run(axis)" ng-touchend="run(axis)"/>
						</div>
						<div class="col-xs-2">
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-default" ng-click="nudgeright(axis)">
									<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
								</button>
								<button type="button" class="btn btn-default" ng-click="forward">
									<span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
								</button>
							</div>
						</div>
					</div>	
					<div class="row">
						<div class="col-xs-12">
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-default" ng-click="goleftstop(axis)">
									<span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span>
								</button>
								<button type="button" class="btn btn-default" ng-click="gohome(axis)">
									<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
								</button>
								<button type="button" class="btn btn-default" ng-click="gorightstop(axis)">
									<span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span>
								</button>
							</div>
						</div>
						
					</div>
				</div>
				
			</div>
		
	</div>
	
	
	
	<!-- Status -->
	<!--div class="row">
			<svg>
				<circle ng-attr-cx="{{accel}}" cy="100" r="50"/>
			</svg>
	</div-->
	</div>
</div>