<div class="card">
  <div class="row">
    <!-- Motor Id-->
    <div class="col-3">Motor ID</div>
    <div class="col">{{motor.id}}</div>
  </div>
  <div class="row">
    <!-- Manufacturer-->
    <div class="col-3">Manufacturer</div>
    <div class="col">{{motor.manufacturer}}</div>
  </div>
  <div class="row">
    <!-- Size-->
    <div class="col-3">Size</div>
    <div class="col">{{motor.size}}</div>
  </div>
  <div class="row">
    <!-- Rated Phase Voltage-->
    <div class="col-3">Rated Phase Voltage [V]</div>
    <div class="col">{{motor.voltage}}</div>
  </div>
  <div class="row">
    <!-- rated PhaseCurrent-->
    <div class="col-3">Rated Phase Current [A]</div>
    <div class="col">{{motor.voltage}}</div>
  </div>
  <div class="row">
    <!-- Phase Resistance-->
    <div class="col-3">Phase Resistance [Ohm]</div>
    <div class="col">{{motor.resistance}}</div>
  </div>
  <div class="row">
    <!-- Phase Inductance-->
    <div class="col-3">Phase Inductance [mH]</div>
    <div class="col">{{motor.inductance}}</div>
  </div>
  <div class="row">
    <!-- Rated Torque-->
    <div class="col-3">Rated Torque [Ncm]</div>
    <div class="col">{{motor.torque}}</div>
  </div>
  <div class="row">
    <!-- Inertia-->
    <div class="col-3">Inertia [gcm^2]</div>
    <div class="col">{{motor.inertia}}</div>
  </div>
</div>